<div class="container-fluid">
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
     <div class="row header">
       <div class="col-md-12">
          <b>Game Of Thrones</b>
       </div>
     </div>
     <!-- Go Back button begins -->
    <div class="row" style="margin-top: 2%">
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit" (click)="goBackToPreviousPage()">Return</button>
      </div>
    </div>
     <!-- Go Back button ends -->
  </div>
</div>
<br/>
</div>
<router-outlet></router-outlet>
