

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
margin: 0px;
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

body main {
  background: #E54B4B;
  color: #EBEBD3;
  padding: 1em 0;
  position: relative;
}

body main::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}

/* content of navbar*/

.navbar {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
  display: flex;
/*   display: none; */
}

.navbar--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  border-bottom: 1px solid #575766;
}

.navbar li:last-child {
  border-bottom: none;
}

.navbar a {
  color: #EBEBD3;
  display: block;
  padding: 2em 4em 2em 1.5em;

}

.navbar a:hover,
.navbar a:focus {
  background: #000;
  color: #464655;
  text-decoration: none;
}

.icon {
  display: inline-block;
  font-size: 1.4em;
  margin-right: 1.1em;
  width: 1.2em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.toggle-menu {
  padding: 1.1em;
  position: absolute;
  top: .6em;
  right: .6em;
  cursor: pointer;
}

/*all about hamburger*/

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 4px;
  width: 1.8em;
  border-radius: 4px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(90deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}
/* media queries*/
@media (min-width: 800px) {
  
  .toggle-menu {
    display: none;
  }
  
  .navbar {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }
  
  .navbar li {
    display: inline-block;
    border: none;
  }
  
  .navbar a {
    padding: 0;
    margin-left: 3em;
  }
  
  .navbar a:hover,
  .navbar a:focus {
    background: transparent;
  }
  
  .icon {
    display: none;
  }
  
}